### Creating an array

In [2]:
import numpy as np

In [43]:
n_array = np.array([[0,1,2,3],[4,5,6,7],[8,9,10,11]])

In [44]:
#This gives the number of dimensions of the array
n_array.ndim

2

In [45]:
n_array.shape

(3, 4)

### Mathematical operations

In [47]:
a = np.array([11,12,13,14])
b = np.array([1,2,3,4])
c = a-b
c

array([10, 10, 10, 10])

In [48]:
# Squaring an array
b**2

array([ 1,  4,  9, 16])

In [49]:
# A trigonometric function
np.cos(b)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

In [50]:
# Conditional operations
b<2

array([ True, False, False, False])

### Matrix multiplication

In [51]:
A1 = np.array([[1,1],[0,1]])
A2 = np.array([[2,0],[3,4]])

In [52]:
A1 * A2

array([[2, 0],
       [0, 4]])

In [53]:
np.dot(A1,A2)

array([[5, 4],
       [3, 4]])

### Indexing and slicing

In [54]:
#  select the first array and then select the second value in the array
n_array[0,1]

1

In [55]:
# The 0:3 value selects the first three values of the first row
n_array[0, 0:3]

array([0, 1, 2])

In [56]:
# The whole first row
n_array[0, :]

array([0, 1, 2, 3])

In [57]:
# Entire column values
n_array[:, 1]

array([1, 5, 9])

### Shape manipulation

In [58]:
# Flattens the array
n_array.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [59]:
# reshapes the array in to a six rows and two columns
n_array.shape = (6,2)
n_array

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [60]:
n_array.transpose